body{
  font-family: 'Courier New', Courier, monospace;
}


#busca{
  padding: 0.625rem;
}

h3{
  padding:0.7rem 0 0 0.7rem;
}

h4{
  text-align: center;
}

input{
  width: 100%;
}

.space-top{
  padding-top: 20px;
}

.card{
  margin: auto;
}
.card-space{
  width: 30rem;
}

.ocultar{
  display: none;
}

.aparecer{
  display: block;
}


