body{
  background-color: #2c3e50;
}

h4{
  text-align: center;
}

input{
  width: 95%;
}

div .space-input{
  padding-left: 2.375rem;

}

.space-top{
  padding-top: 20px;
}

.card{
  margin: auto;
}
.card-space{
  width: 30rem;
}

.ocultar{
  display: none;
}

.aparecer{
  display: block;
}
